@import '../../styles/variables.scss';

.statistic-container {
    border: 0.2rem solid $color-black;

    width: 40rem;
    height: 41rem;
    border-radius: 1rem;
    overflow: auto;
    .statistic-title {
        @include font-Inter(3rem, 700);
        text-align: center;
        padding: 1rem 0;
        border-bottom: 0.2rem solid $color-black;
    }
    .words-container {
        padding: 1rem;
        overflow: auto;
        height: 35rem;
    }
    .answer-title {
        @include font-Inter(2.3rem, 400);

        .right-count,
        .wrong-count {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            color: white;
            margin-left: 1rem;
            border-radius: 1rem;
            @include font-Inter(2rem, 400);
        }
        .right-count {
            background-color: $color-lightgreen;
        }
        .wrong-count {
            background-color: $color-red;
        }
    }
    .word-result {
        display: flex;
        gap: 1rem;

        .word {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            .word-statistic {
                @include font-Inter(2rem, 400);
            }
        }
    }
}
