@import '../../../styles/variables.scss';

.pagination__container {
  @include font-Inter(3.6rem, 400);
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.pagination__container div {
  cursor: pointer;
}


.pagination_selected {
  padding: 2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 45px;
  background-color: $color-base;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.disabled {
  color: grey;
}

.hidden {
  display: none;
}

.wrapper-book.all-learned[data-complexity="0"] .pagination_selected {
  background-color: $learnbook-color-a1;
}

.wrapper-book.all-learned[data-complexity="1"] .pagination_selected {
  background-color: $learnbook-color-a2;
}

.wrapper-book.all-learned[data-complexity="2"] .pagination_selected {
  background-color: $learnbook-color-b1;
}

.wrapper-book.all-learned[data-complexity="3"] .pagination_selected {
  background-color: $learnbook-color-b2;
}

.wrapper-book.all-learned[data-complexity="4"] .pagination_selected {
  background-color: $learnbook-color-c1;
}

.wrapper-book.all-learned[data-complexity="5"] .pagination_selected {
  background-color: $learnbook-color-c2;
}