$width-container: 1280px;
$height-header-footer: 80px;

$color-base: #ffc53d;
$color-addition: #ffb300;
$color-card-capabilities: #f0f0f0;
$color-card: #d9d9d9;
$color-violet: #5d6280;
$color-green: #224957;
$color-blue: #2959ff;
$color-black: #000;

@mixin font-ABeeZee($size, $weight) {
    font-family: ABeeZee;
    font-size: $size;
    //  font-style: $style;
    font-weight: $weight;
}

h1 {
    @include font-ABeeZee(4.8rem, 400);
}
