@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.auth-wrapper {
    margin: 9rem auto 0;
    width: 57rem;
    height: 57rem;
    background: $color-violet;
    border-radius: 15px;
    overflow: hidden;
}
.links-btn {
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    &__signIn,
    &__signUp {
        font-family: Inter;
        font-size: 4.2rem;
        line-height: 5.2rem;
        color: #ffffff;
        cursor: pointer;
    }
    .active-link {
        border-bottom: 0.9rem solid $color-base;
    }
}
.signIn-container {
    padding: 3.7rem 6.5rem 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.form-signIn-left {
    transform: translateX(-50.7rem);

}
.form-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: center;
    width: 44rem;
    margin: 0 auto;
    color: #ffffff;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding-top: 2rem;
}
.form-styling {
    width: 30rem;
    height: 4.5rem;
    background: $color-green;
    border-radius: 1rem;
    padding-left: 2.2rem;
    font-family: Inter;
    color: #fff;
    font-size: 2.4rem;
    line-height: 2rem;
}
.form-styling::placeholder {
    color: #fff;
    font-size: 1.5em;
    font-size: 2.4rem;
    line-height: 2rem;
}
.submit-signIn {
    background: $color-blue;
    box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 1.8rem 15rem;
    font-family: Inter;
    font-size: 2.4rem;
    line-height: 2rem;
    text-transform: capitalize;
    color: #ffffff;
    margin-top: 3.9rem;
}
.signUp-container {
    padding-top: 3.7rem;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.form-signUp-left {
    transform: translateX(-50.7rem);

}
.submit-signUp{
    background: $color-base;
    box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 1.8rem 15rem;
    font-family: Inter;
    font-size: 2.4rem;
    line-height: 2rem;
    text-transform: capitalize;
    color: $color-black;
    margin-top: 3.9rem;
}
.signs-container{
    display: flex;
}