@import './statisticSprintGame.style.scss';

.wrapper__sprint,
.container__sprint {
    height: 100%;
}

.sprint {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: $color-grey;
    @include font-ABeeZee(3.4rem, 400);

    // .sprint__cancel
    &__cancel {
        align-self: end;
        button {
            background-color: inherit;
        }
    }

    // .sprint__buttons

    &__buttons {
        button {
            @include font-ABeeZee(4rem, 400);
            color: $color-white;
            width: 33rem;
            height: 9rem;
            border-radius: 1rem;
            box-shadow: 0 0.9rem $color-shadow;
        }
        button:active {
            box-shadow: 0 0.5rem $color-shadow-dark;
            transform: translateY(0.4rem);
        }

        .btn-yes__active {
            background-color: darken($color: $color-lightgreen, $amount: 10);
            box-shadow: 0 0.5rem $color-shadow-dark;
            // box-shadow: none;
            transform: translateY(0.4rem);
        }
        
        .btn-no__active {
            background-color: darken($color: $color-red, $amount: 10);
            box-shadow: 0 0.5rem $color-shadow-dark;
            transform: translateY(0.4rem);
        }
    }
}
.btn-cancel {
    // .btn-cancel__svg

    &__svg {
    }
}
.watch {
    padding: 2rem 0 2rem 0;

    // .watch__svg

    &__svg {
        width: 12.9rem;
        height: 15.1rem;
    }
}
.timer {
    padding-bottom: 5rem;
    // .timer__time

    &__time {
    }
}
.words {
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    // column-gap: 5rem;
    padding-bottom: 2rem;
    // .words__en

    &__en {
        font-size: 5rem;
        color: darken($color: $color-base, $amount: 30);
    }

    // .words__ru

    &__ru {
    }
}
.btn-yes {
    background-color: $color-lightgreen;
    &:hover {
        background-color: darken($color: $color-lightgreen, $amount: 10);
    }
}

.btn-no {
    background-color: $color-red;
    &:hover {
        background-color: darken($color: $color-red, $amount: 10);
    }
}


