.wrapper {
    // .wrapper__statistic-sprint

    &__statistic-sprint {
        background-color: $color-base;
    }
}

.wrapper__statistic-sprint,
.container__statistic-sprint {
    height: 100%;
}
.statistic-sprint {
    // .statistic-sprint__block
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    &__block {
        width: 50rem;
        height: 20rem;
        background-color: aqua;
    }

    // .statistic-sprint__title

    &__title {
    }

    // .statistic-sprint__table

    &__table {
    }
}
.table {
    // .table__line

    &__line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .table__sound

    &__sound {
        background-color: inherit;
    }

    // .table__word-en

    &__word-en {
    }

    // .table__word-transcript

    &__word-transcript {
    }

    // .table__word-translate

    &__word-translate {
    }

    // .table__word-result

    &__word-result {
    }
}

.statistic-sprint {
    // .statistic-sprint__cancel

    &__cancel {
        align-self: end;
    }
}
.btn-cancel {
    // .btn-cancel__svg

    &__svg {
    }
}
