.wrapper {
    // .wrapper__statistic-sprint

    &__statistic-sprint {
        background-color: $color-base;
    }
}

.wrapper__statistic-sprint,
.container__statistic-sprint {
    height: 100%;
}
.statistic-sprint {
    // .statistic-sprint__block
    @include font-ABeeZee(3rem, 400);

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    &__block {
        width: 100rem;
        // height: 50rem;
        padding: 2rem;
        overflow-y: scroll;
        background-color: $color-orange;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        padding: 2rem 3rem 5rem 3rem;
        border: 0.1rem solid $color-black;
        border-radius: 1rem;
    }

    // .statistic-sprint__title

    &__title {
        padding-bottom: 3rem;
    }

    // .statistic-sprint__table

    &__table {
    }
}
.table {
    // .table__line

    &__line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .table__sound

    &__sound {
        background-color: inherit;
        flex: 0 0 4rem;
    }

    // .table__word-en

    &__word-en {
        flex: 0 0 20rem;
    }

    // .table__word-transcript

    &__word-transcript {
        flex: 0 0 20rem;
    }

    // .table__word-translate

    &__word-translate {
        flex: 1 0 auto;
    }

    // .table__word-result

    &__word-result {
        width: 2.5rem;
        height: 2.5rem;
        flex: 0 0 3rem;
    }
}

.statistic-sprint {
    // .statistic-sprint__cancel

    &__cancel {
        margin-top: 2rem;
        align-self: end;
    }
}
.btn-cancel {
    // .btn-cancel__svg

    &__svg {
        width: 3rem;
        height: 3rem;
    }
}
