@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.mywords__container {
    @include font-Inter(3.6rem, 400);
    border: 2px solid black;
    border-radius: 15px;
    padding: 1rem;
}

.mywords__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.words_buttons {
    display: flex;
    gap: 1rem;
}