@import '../../styles/variables.scss';

.game-container__audio-call {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .audio-call__cancel {
        align-self: end;
    }
}
.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .audio-call__sound {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30rem;
        height: 20rem;
    }
    .btn-choice,.next {
        padding: 1rem 2rem;
        background-color: $color-white;
        border: 0.2rem solid $color-black;
        border-radius: 1rem;
        @include font-Inter(1.4rem,400)
    }

}
