@import './../../styles/variables.scss';

.wrapper {

    &__statistic-audio-call {
        background-color: $color-base;
    }
}

.wrapper__statistic-audio-call,
.container__statistic-audio-call {
    height: 100%;
}
.statistic-audio-call {
    @include font-ABeeZee(2rem, 400);

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    &__block {
        width: 100rem;
        border-radius: 1rem;
        padding: 2rem;
        overflow-y: scroll;
        background-color: $color-orange;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70vh;
        padding: 2rem 3rem 5rem 3rem;
        border: 0.1rem solid $color-black;
        border-radius: 1rem;
    }

    &__title {
        padding-bottom: 3rem;
    }

}
.table {

    &__line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
    }

    &__line:nth-child(odd) {
        background-color: $color-base;
    }

    &__sound {
        background-color: inherit;
        flex: 0 0 4rem;
        svg:hover {
            fill: $color-red;
        }
    }

    &__word-en {
        flex: 0 0 20rem;
    }

    &__word-transcript {
        flex: 0 0 20rem;
    }

    &__word-translate {
        flex: 1 0 auto;
    }

    &__word-result {
        width: 2.5rem;
        height: 2.5rem;
        flex: 0 0 3rem;
    }
}

.audio-call {

    &__cancel {
        margin-top: 2rem;
        align-self: end;
    }
}
.btn-cancel {
    background-color: inherit;

    &__svg {
        width: 3rem;
        height: 3rem;
    }
}
