@import './styles/nullable.scss';
@import './styles/variables.scss';
@import './styles/fonts.scss';
@import './components/header/header.style/header.scss';

.container {
    max-width: $width-container;
    margin: 0 auto;
    padding: 0 1rem;
}
