// @import '../../styles/variables.scss';

// .start-game_container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;

//     .title {
//         margin-top: 15rem;
//     }

//     .description-container {
//         margin-top: 2rem;
//         width: 50rem;
//         text-align: center;

//         .description {
//             @include font-Inter(1.7rem, 700);
//         }
//     }
//     .complexity {
//         margin-top: 2rem;
//         @include font-Inter(1.7rem, 700);

//         &__buttons {
//             margin-top: 2rem;

//             .learnbook__button {
//                 background-color: $color-disabled-button;

//                 .learnbook__icon-container {
//                     @include font-Inter(1.6rem, 400);
//                 }
//             }
//             .learnbook__button_selected {
//                 color: white;
//                 border: none;
//             }
//         }
//     }
//     .start-game {
//         background-color: $color-base;
//         margin-top: 2rem;
//         font-size: 1rem;
//         padding: 10px 30px;
//         border-radius: 20px;
//         @include font-Inter(1.4rem, 400);
//     }
//     .start-game:disabled {
//         background-color: $color-disabled-button;
//         cursor: default;
//         color: $color-black;
//     }
// }
